<nav>
    <a href="/">Mongo Scraper</a>
    <a href="/">Home</a>
    <a href="/saved">Saved Articles</a>
    <a href="/scrape">Get new articles!</a>
    <a href="/clear">Clear articles!</a>
</nav>
<h1>Mongo Scraper</h1>
<h3>Physics Edition</h3>

<div class="container-fluid article-container">
    {{#if articles}}
        {{#each articles}}
        <div class="card">
            <div class="card-header">
                <h3>
                    <a class="article-link" href="{{link}}">{{headline}}</a>
                    <a class="btn btn-primary save" data-saved="">Save</a>
                </h3>
            </div>
            <div class="card-body">{{summary}}</div>
        </div>
        {{/each}}
    {{else}}
        {{cards/card-block}}
    {{/if}}
</div>
