{{!-- if there are saved articles --}}
    {{#each articles}}
        <div class="card">
            <div class="card-header">
                <h3>
                    <a class="article-link" href="{{link}}">{{headline}}</a>
                    <a class="btn btn-primary delete-save" data-saved="">Delete from Saved</a>
                    <a class="btn btn-primary article-comments">Article Comments</a>
                </h3>
            </div>
            <div class="card-body">{{summary}}</div>
        </div>
    {{/each}}
{{!-- if there are articles, but no save articles --}}
    {{#each articles}}
        <div class="card">
            <div class="card-header">
                <h3>
                    <a class="article-link" href="{{link}}">{{headline}}</a>
                    <a class="btn btn-primary save" data-saved="">Save</a>
                </h3>
            </div>
            <div class="card-body">{{summary}}</div>
        </div>
    {{/each}}

<div class="card">
    <div class="card-header">
        <h3>
            Uh Oh. Looks like we don't have any saved articles.
        </h3>
    </div>
    <div class="card-body"></div>
</div>
<div class="card">
    <div class="card-header">
        <h3>Would you like to browse available articles?</h3>
    </div>
    <div class="card-body">
        <a href="/">Browse articles</a>
    </div>
</div>